{% extends "base.html" %}

{% block title %} Tasker | Login {% endblock %}

{% block content %}
<div class="container">
    <div class="row content">
        <div class="col-md-6">
            <img class="img-responsive " src="https://upload.wikimedia.org/wikipedia/en/e/e2/University_of_Perpetual_Help_System_Logo.png" class="img-fluid" alt="image">
        </div>

        <div class="col-md-6">
            <h3 class="signin-text mb3">Login</h3>

            <form method="POST" action="">
                {% csrf_token %}

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control">
                </div>

                <input type="submit" name="login" class="btn btn-class">
            </form>

            {% for message in messages %}
                <p>{{ message }}</p>
                {# message will appear whenever a user is successfully created and redirected to this page #}
            {% endfor %}

            <div>
                <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}