<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>

<h1>Login</h1>

<form method="POST" action="">
	{% csrf_token %}
	<div>
		<p>Username <input type="text" name="username" placeholder="username..."></p>
	</div>
	<div>
		<p>Password <input type="password" name="password" placeholder="password..."></p>
	</div>
	<input type="submit" name="login">
</form>

{% for message in messages %}
	<p>{{ message }}</p>
	{# message will appear whenever a user is successfully created and redirected to this page #}
{% endfor %}

<div>
	<p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>

</body>
</html>